style
  include ./main.scss

main.main
  .main
    section.filter
      p.filter-title 26 Results Found
        .line
      form
        .form-control
          select.filter-select
            option Param 1
              p value 1 <input type='checkbox' value='1' />
              label value 2 <input type='checkbox' />
              label value 3 <input type='checkbox' />
              label value 4 <input type='checkbox' />
              label value 5 <input type='checkbox' />
        .form-control
          select.filter-select
            option Param 2
              option value 2_1
              option value 2_2
              option value 2_3
        .form-control
          select.filter-select
            <option>Param 3
              option min
              option max
        .form-control
          select.filter-select
            option Param 4
              option Keyword
        button.form-btn SEARCH
    section.cards
      h2= page_meta.title
      .sort-container
        .pagination
          button.pag-btn <
          button.pag-btn 1
          button.pag-btn 2
          button.pag-btn >
        .sort
          .sort-description Sort by
          select.select-options
            option Sort options
      .cards-list
        each val in stock
          .card-item
            .img-container
              img.img-card(src=val.image)
            .card-about
              h2.card-title= val.title
              p.card-description= val.type
              span.year= val.year
              span.mileage= val.mileage + val.mileage_measure
              span.configuration= val.axle_configuration
            .price= '$' + val.price
      .sort-container
        .pagination
          button.pag-btn <
          button.pag-btn 1
          button.pag-btn 2
          button.pag-btn >
        .sort
          .sort-description Sort by
          select.select-options
            option Sort options
      .content-container
        each val in page_text
          p.content= val.content

